html{
    font-size: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li, link{
    list-style-type:none;
    text-decoration: none;
}

body{
    background: black;
    color: white;
    font-family: 'AlegreyaSansSC'; 
    font-weight: normal;
}

.first_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: url('../img/BG.svg') no-repeat;
    background-color: black;
    background-size: 300%;
    background-position: -2% 38%;
}



/* ------------------------------------------------------------- */
.left{
    width: 50%;
    display: flex;
    padding-left: 7%;
    align-items: center;
    text-shadow: 3px 3px 3px black;
}
/* ------------------------------------------------------------- */
.introduction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introduction h1{
    font-size: 8rem;
}
.introduction h2{
    font-size: 2rem;
    align-items: center;
}

.line_2{
    display: flex;
    align-items: center;
    padding-left: .5rem;
    margin: 1rem 0;
}

.line_2 h2{
    font-size: 2rem;
    padding-right: 1.5rem;
}

.line_2 img{
    height: 4rem;
}

.introduction p{
    font-size: 1.25rem;
    letter-spacing: .5rem;
    padding-left: .5rem;
    margin: 1rem 0;
    color: #828282;
}
/* ------------------------------------------------------------- */
.right{
    width: 50%;
    display: flex;  
    justify-content: flex-end;
    padding: 5%;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 30%;
}

.menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu li p{
    font-size: 1.5rem;
    margin: .5rem;
    letter-spacing: .2rem;
    width: 10.8rem;
    text-align: end;
    background-color: none;
    cursor: pointer;
    transition: background-color .5s, color .25s, font-size .5s;
}

.selector{
    width: .2rem;
    height: 70%;
    background-color: none;
}

#current_selector{
    background-color: rgb(238, 238, 238);
    color: black;
}


.menu li p:hover{
    color: black;
    background-color: white !important; 
    font-size: 1.75rem;
    transition: background-color .5s, color .25s, font-size .5s;
}

.menu li p:active{
    color: grey;
    background-color: lightgrey;
}


@media screen and (max-width: 960px) {
    .first_page{
        background-position: 12% 36%;
        background-size: 600%;
        
        flex-direction: column;
        justify-content: flex-start;
    }

    .left{
        width: auto;
        height: 75%;
    }

    .right{
        order: -1;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        height: 10%;
        /* padding: 5% 0 0 5%; */
        background: rgba(0, 0, 0, 0.5);
        /* position: -webkit-sticky;
        position: sticky;
        top: 0%; */
    }

    .menu{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .menu li{
        flex-direction: column;
        justify-content: center;
        margin: .3rem .5rem .3rem .5rem;
    }

    .menu li p{
        margin: .3rem;
        width: auto;
    }


    .selector{
        width: 93%;
        height: .15rem;
    }
}