html{
    font-size: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li, link{
    list-style-type:none;
    text-decoration: none;
}

body{
    position: relative;
    margin: 0;
    padding: 0;    
    font-family: 'AlegreyaSansSC', Fallback, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2{
    font-family: 'AlegreyaSansSC', Fallback, sans-serif;
    font-weight: 600;
    font-style: normal;
}

p{
    font-family: 'AlegreyaSans', Fallback, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a{
    font-family: 'AlegreyaSansSC', Fallback, sans-serif;
    font-weight: 300;
    font-style: italic;
}

/* --------------------------- */

.menu{
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    top: 0;
    right: 0;
    margin: 0 auto;
    /* height: 100vh; */
    max-width: 1920px;
    margin: 0 auto;
    width: 100vw;
    padding: 5vh 3vw;
    background-color: rgb(0, 0, 0, 100);
    transition: all .3s;
    z-index: 2;
}

#menu_close{
    background-color: rgba(0, 0, 0, 0);
    transition: all .3s;
}

.menu_fullscreen{
    margin-top: 10vh;
}

#burger{
    position: absolute;
    right: 5vw;
    top:3vw;
    display: none;
    align-items: center;
    justify-content: center;
    height: 53px;
    width: 53px;
    border-radius: 30px;
    transition: all .2s linear;
    opacity: .5;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.13);
    border: 2px rgba(0, 0, 0, 0.548) solid;
}

.burger_appear{
    display: flex !important;
    opacity: 1 !important;
    visibility: visible !important;
    transition: opacity .3s, visibility .3s;
}

#burger:hover{
    opacity: 1;
    transition: all .2s linear;
}

#burger_ele{
    content: '';
    width: 30px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    border: 0px solid black;
    transition: all .3s;
    border-radius: 5px;
    position: relative;
}

#burger_ele::before,
#burger_ele::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    border: 0px solid black;
    transition: all .3s;
    border-radius: 5px;
}

#burger_ele::before{ transform: translateY(-10px);
    transition: all .3s;}
#burger_ele::after { transform: translateY(10px);
    transition: all .3s;}

.open{
    opacity: 1 !important;
    transition: all .3s; 
}

.open #burger_ele{
    width: 0px;
    transition: all .3s;
}

.open #burger_ele::before{
    background-color: rgb(255, 255, 255);
    border: 0px solid black;
    transform: rotate(135deg) translate(10.5px,10.5px);
    transition: all .3s;
}

.open #burger_ele::after{
    background-color: rgb(255, 255, 255);
    border: 0px solid black;
    transform: rotate(45deg) translate(-10.5px,10.5px);
    transition: all .3s;
}

.menu_item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transition: all .5s;
    height: auto;
}

#burger_close{
    visibility: hidden;
    opacity: 0;
    right: 0;
    height: 0;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0);
    transition: all .5s;
}

.menu_item li{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: .5rem;
    position: relative;
}

.menu_item li::after{
    content: '';
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0rem;
    transition: width .3s;
}

.item{
    font-family: 'AlegreyaSansSC', Fallback, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu_item li:hover::after{
    width: 9rem;
    transition: width .3s;
}

.menu_item li:hover > .item{
    color: black;
    transition: color .3s;
}

.menu_item li a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    letter-spacing: .2rem;
    z-index: 1;
}

#current_item a{
    font-size: 2rem;
    font-weight: bold;
}

.item_indicator{
    position: absolute;
    width: 2px;
    height: 90%;
    background-color: rgba(0, 0, 0, 0);
    right: -.5rem;
    transition: all .3s;
}

.menu_item li:hover > .item_indicator{
    height: 100%;
    transition: all .3s;
}


#current_item .item_indicator{
    background-color: white;
}

#logo{
    position: absolute;
    top: 3vw;
    left: 4vw;
    height: 55px;
    width: 55px;
    background-image: url('../img/logo.svg');
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: all .3s;
}

.logo_disappear{
    opacity: .5 !important;
    transition: opacity .3s;
}

#name{
    display: flex;
    align-items: center;
}

.footer{
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

.footer img{
    height: 7vh;
}

.footer p{
    font-size: 1.5rem;
    color: white;
    margin: 0 1rem;
}

.social_media{
    display: flex;
    align-items: center;
}

.social_media a{
    margin: .5rem;
    color: white;
    font-size: 1.5rem;
}

.social_media a img{
    height: 5vh;
    width: 5vh;
}




/* @media screen and (max-width: 960px){
    .menu{
        padding: 2vw;
        background-color: rgba(0, 0, 0, 0.795);
    }
 

    #logo{
        top: 2vw;
        left: 2vw;
    }

    .menu_item{
        flex-direction: row;
        height: auto;
    }
    .menu_item li{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0 .7rem;
    }

    .item_indicator{
        height: 2px;
        width: 90%;
        right: 0;
        left: 5%;
        bottom: -.1rem;
        transition: all .3s;
    }

    .menu_item li::after{
        bottom: 0;
        width: 100%;
        height: 0;
        transition: height .3s;
    }

    .menu_item li:hover::after{
        width: 100%;
        height: 100%;
        transition: height .3s;
    }

    .menu_item li:hover > .item_indicator{
        width: 100%;
        left: 0;
        transition: all .3s;
    }
} */

@media screen and (max-width:960px){
    .menu{
        padding: 0 5vw;
        height: 100%;
        background-color: rgb(0, 0, 0);
    }

    #menu_close{
        height: 10vh;
    }

    #logo{
        top: 5vw;
        left: 5vw;
    }

    .logo_disappear{
        opacity: 0 !important;
        transition: opacity .3s;
    }

    #burger{
        display: flex;
        right: 5vw;
        top:5vw;
    }

    .menu_item{
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        margin-top: 15vh;
        height: 100%;
        visibility: visible;
        opacity: 1;
        transition: visibility .5s, opacity .5s;
    }

    .menu_item li a{
        font-size: 2rem;
    }

    .menu_item li{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .item_indicator{
        position: relative;
        height: 90%;
        width: 2px;
        right: -.5rem;
        /* left: auto; */
        top: 0;
        bottom: -.1rem;
        transition: all .3s;
    }

    .menu_item li::after{
        top: 0;
        right: 0;
        width: 0rem;
        height: 100%;
        transition: width .3s;
    }

    .menu_item li:hover::after{
        width: 11em;
        height: 100%;
        transition: width .3s;
    }

    .menu_item li:hover > .item_indicator{
        width: 2px;
        height: 100%;
        right: -.5rem;
        transition: all .3s;
    }

    .footer{
        flex-direction: column;
        padding: 1.5rem;
        height: auto;
    }

    #name{
        width: 100%;
        border-bottom: 2px solid white;
        padding-bottom: 1rem;
    }

    #name p{
        width: 100%;
        text-align: center;
    }

    .footer .social_media{
        flex-direction: column;
    }
/* 
    .footer p{
        margin: 1rem;
    } */

}



